@media screen and (min-width: 768px) {
    #main-logo {
        order: -1;
    }
}

#hero-con {
    height: 455px;
}

#products {
    height: 420px; 
}

#promotional-con {
    height: 700px;
}

#footer-con {
    height: 350px; 
}